.mask {
    opacity: 84%;
    background-color: #000;
    height: 100vh;
    width:100vw;
    
}

.clip-path {
    opacity: 18%;
    background-color: #7E7E6C;
    height: 100vh;
    width:100vw;
    clip-path: polygon(50% -15%, 35% 100%, 65% 100%);
}