/* You can add global styles to this file, and also import other style files */
body {
    background: url("src/assets/greg-rakozy-oMpAz-DN-9I-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-repeat: repeat-y;   

}




